main {
  margin-left: 20px;
}

.todoForm button {
  font-size: 0.75rem;
  border: 0;
  border-radius: 20px;
  padding: 5px 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 30px;
  transition: 0.5s;
}

.todoForm button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
}

.todoForm input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s;
}

.todoForm input:focus {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.todoList {
  margin-top: 20px;
  margin-bottom: 20px;
}

.todoList ul {
  padding: 0;
  margin: 0;
  margin-left: 5px
}

.todoList ul li {
  padding: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: 30px;
}

.todoList ul li span {
  margin-right: 10px;
}

.todoList ul li button {
  font-size: 0.75rem;
  border: 0;
  border-radius: 20px;
  margin-bottom: 2.5px;
  padding: 5px 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s;
}

.todoList ul li button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
}

.todoCount {
  margin-left: 10px;
}