@import "../mixins/margin";

.todo-list {
  @include margin($t: 20px, $b: 20px);

  &__list {
    @include margin($l: 5px);
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    @include margin($b: 10px);
    padding: 0;
    height: 30px;
  }

  &__content {
    @include margin($r: 10px);
  }

  &__delete-button {
    @include margin($b: 2.5px);
    padding: 5px 12px;
    font-size: 0.75rem;
    border: 0;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.3s;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
    }
  }
}